<% provide(:title, 'Event詳細') %>
<h1><%= @event.event_day%>@<%= @event.place %>のイベント詳細</h1>
<div class="row">
  <div class="col-md-6">
    <script type="text/javascript">
      function initMap() {
        var test ={lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15, 
                  center: test
                  });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
    
        var contentString = '住所：<%= @event.place %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
    
        var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                     });
    
         marker.addListener('click', function() {
           infowindow.open(map, marker);
         });
      }
    </script>
    
    <script async defer
                  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA9u1aAUZeLUxkwQ95Wok82cO1NEaGsY94&callback=initMap">
    </script>
    <style type="text/css">
      #map { height: 500px;
             width: 100%;}
    </style>
    <div id="map"></div>
  </div>
  <div class="col-md-6">
    <table class="table table-condensed table-hover" id="table-users">
      <tr>
        <td><%= Event.human_attribute_name(:event_day) %></td>
        <td><%= l @event.event_day, format: :long %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:start_time) %></td>
        <td><%= l @event.start_time, format: :time %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:finish_time) %></td>
        <td><%= l @event.finish_time, format: :time %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:prefecture) %></td>
        <td><%= @event.prefecture %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:place) %></td>
        <td><%= @event.place %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:level) %></td>
        <td><%= @event.level %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:estimate_people) %></td>
        <td><%= @event.estimate_people %></td>
      </tr>
      <tr>
        <td>現在参加者</td>
        <td><%= @event.estimate_people %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:organizer_name) %></td>
        <td><%= @event.organizer_name %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:organizer_tel) %></td>
        <td><%= @event.organizer_tel %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:comment) %></td>
        <td><%= @event.comment %></td>
      </tr>
    </table>
  </div>
  <tr>
    <%= link_to "編集", edit_event_path(@event), method: :get ,class: "btn btn-primary" %>
  </tr>
  <tr>
    <%= link_to "イベントに参加する", members_path(user:current_user), method: :post,
          data: { confirm: "このイベントに参加しますか？" },
          class: "btn btn-primary" %>
  </tr>
  <tr>
    <%= link_to "イベントに参加をやめる", member_path(user:current_user), method: :delete,
          data: { confirm: "このイベントをやめますか？" },
          class: "btn btn-danger" %>
  </tr>
  <tr>
    <% if current_user.admin? %>
      <%= link_to "削除", @event, method: :delete,
          data: { confirm: "削除してよろしいですか？" },
          class: "btn btn-danger" %>
    <% end %>
  </tr>
</div>