<% provide(:title, 'Event詳細') %>
<h1><%= l @event.event_day, format: :default %>@<%= @event.place %>の稽古会詳細</h1>
<div class="row">
  <div class="col-md-6">
    <script type="text/javascript">
      function initMap() {
        var test ={lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15, 
                  center: test
                  });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
    
        var contentString = '住所：<%= @event.place %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
    
        var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                     });
    
         marker.addListener('click', function() {
           infowindow.open(map, marker);
         });
      }
    </script>
    
    <script async defer
                  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key&callback=initMap">
    </script>
    <style type="text/css">
      #map { height: 500px;
             width: 100%;}
    </style>
    <div id="map"></div>
  </div>
  <div class="col-md-6">
    <table class="table table-condensed table-hover" id="table-users">
      <tr>
        <td><%= Event.human_attribute_name(:event_day) %></td>
        <td><%= l @event.event_day, format: :long %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:start_time) %></td>
        <td><%= l @event.start_time, format: :time %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:finish_time) %></td>
        <td><%= l @event.finish_time, format: :time %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:prefecture) %></td>
        <td><%= @event.prefecture %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:place) %></td>
        <td><%= @event.place %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:level) %></td>
        <td><%= @event.level %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:estimate_people) %></td>
        <td><%= @event.estimate_people %>人</td>
      </tr>
      <tr>
        <td>現在参加者</td>
        <td>
          <%= @event.members.count %>人
          <% if @event.members.count > 0 %>
            <%= link_to "参加者一覧", members_path(id:@event.id), method: :get ,class: "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:organizer_name) %></td>
        <td><%= link_to @event.organizer_name , user_path(@event.organizer_user_id)  %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:organizer_tel) %></td>
        <td><%= @event.organizer_tel %></td>
      </tr>
      <tr>
        <td><%= Event.human_attribute_name(:comment) %></td>
        <td><%= @event.comment %></td>
      </tr>
    </table>
    <tr>
      <% if current_user.id == @event.organizer_user_id %>
        <tr>
          <%= link_to "編集", edit_event_path(id:@event.id,user_id:@event.organizer_user_id), method: :get ,class: "btn btn-primary" %>
        </tr>
      <% end %>
      <% if current_user.admin? or current_user.id == @event.organizer_user_id %>
        <tr>
            <%= link_to "削除", @event, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
        </tr>
      <% end %>
      <% if @event.event_day > DateTime.now %>
        <% unless current_user.id == @event.organizer_user_id %>
          <% unless @event.members.where(user_id:current_user.id).present? %>
            <tr>
              <%= link_to "イベントに参加する", members_path(user:current_user), method: :post,
                    data: { confirm: "このイベントに参加しますか？" },
                    class: "btn btn-primary" %>
            </tr>
          <% else %>
            <tr>
              <%= link_to "イベントに参加をやめる", member_path(user:current_user), method: :delete,
                    data: { confirm: "このイベントをやめますか？" },
                    class: "btn btn-danger" %>
            </tr>
          <% end %>
        <% end %>
      <% else %>
        <tr>※この稽古会は終了しています。</tr>
      <% end %>
    </tr>
  </div>
</div>
