<% provide(:title, "Profile Edit") %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>プロフィール情報の更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, url: profile_update_user_path(@user), local: true, method: :patch) do |f| %>
      <%= render 'shared/error_messages', object: @user.profile %>
      
      <%= f.fields_for @user.profile do |t| %>
        
        <%= t.label :image_name %>
        <%= t.file_field :image_name %>
        <%= t.hidden_field :image_name_cache %>
  
        <%= t.label :birth_day, class: "label-#{yield(:class_text)}" %>
        <%= t.date_field :birth_day, default: { year: 2000, month: 1, day: 1 } ,class: "form-control" %>
        
        <%= t.label :grade, class: "label-#{yield(:class_text)}" %>
        <%= t.select :grade, Profile.grades.keys, {}, class: "form-control" %>
        
        <%= t.label :prefecture, class: "label-#{yield(:class_text)}" %>
        <%= t.select :prefecture, Profile.prefectures.keys, {}, class: "form-control" %>
        
        <%= t.label :dojo, class: "label-#{yield(:class_text)}" %>
        <%= t.text_field :dojo, class: "form-control" %>
        
        <%= t.label :junior_high, class: "label-#{yield(:class_text)}" %>
        <%= t.text_field :junior_high, class: "form-control" %>
        
        <%= t.label :high, class: "label-#{yield(:class_text)}" %>
        <%= t.text_field :high, class: "form-control" %>
        
        <%= t.label :university, class: "label-#{yield(:class_text)}" %>
        <%= t.text_field :university, class: "form-control" %>
        
        <%= t.label :affilation, class: "label-#{yield(:class_text)}" %>
        <%= t.text_field :affilation, class: "form-control" %>
        
        <%= t.label :history, class: "label-#{yield(:class_text)}" %>
        <%= t.text_field :history, class: "form-control" %>
        
        <%= t.label :signature, class: "label-#{yield(:class_text)}" %>
        <%= t.text_field :signature, class: "form-control" %>
        
        <%= t.label :frequency, class: "label-#{yield(:class_text)}" %>
        <%= t.select :frequency, Profile.frequencies.keys, {}, class: "form-control" %>
        
      <% end %>
    
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
    <% end %>
  </div>
</div>